
.center {
  position: absolute;
  width: 50%;
  height: 50%;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.center-block {
  display: block;
  margin: auto;
  margin-top: 10px;
  width: fit-content;
}

.bottom-content {
  margin-top: 34px;
}

.question-links {
  font-size: 10px; 
  float: right;
  margin-top: 15px;
}

@media (max-width: 1000px) {
  .bottom-content {
    margin-top: 20px;
  }

  .center {
    position: absolute;
    width: 90%;
    height: 50%;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    padding: 10px;
   }

  .center-block {
    display: block;
    margin: 20px !important;
  }

  .question-links {
    font-size: 10px; 
    float: right;
    margin-top: 0px;
  }
}

.hidden {
  display: none;
  transition: display .5s ease;
  -webkit-transition: display .5s ease;
  -moz-transition: display .5s ease;
  -o-transition: display .5s ease;
}

.active {
  transition: display .5s ease;
  -webkit-transition: display .5s ease;
  -moz-transition: display .5s ease;
  -o-transition: display .5s ease;
}

.clickable {cursor: pointer;}


.right {
  float: right;
}


.glyphicon {
  top: 4px !important;
}


.template-text {
  font-size: 16px;
}

.header {
  position: absolute;
  right: 5%;
  top: 3%; 
  z-index: -1;
}


#result{
  overflow: auto;
}

.search-button {
  margin-top: 5px;
}

a {
  overflow-wrap: break-word !important;
  color: #5e7e8b !important;
}
.row {
  margin-left: 0px !important;
}
.col-md-4, .col-md-1 {
  padding-left: 0px !important;
}

.italic-placeholder::-webkit-input-placeholder {
  font-style: italic;
}
.italic-placeholder:-moz-placeholder {
  font-style: italic;  
}
.italic-placeholder::-moz-placeholder {
  font-style: italic;  
}
.italic-placeholder:-ms-input-placeholder {  
  font-style: italic; 
}
.mention {
  color:#969696
}
.error {
  border: solid 1.4px #ff000055 !important;  
}

.popover-content {
  font-size: 9px;
  padding: 3px !important;
}
.check-lang {
  font-size: 11px;
  font-weight: bold;
}
.wikidata-query-link {
  display:inline;
}
.bolded { 
  font-weight: bold; }

.results-header {
  margin-bottom: 10px;
}

.cont-question-data h4 {
    font-size: 12px !important;
  }

.border {
    border: 1px solid #ccc!important;
    border-style: dashed !important;
    border-radius: 5px;
    margin-top: 10px;
}
.margin {
  margin: 5px;
}
.desc {
  font-size: 12px !important;
}

.ui-autocomplete-loading {
   background:url(http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/themes/smoothness/images/ui-anim_basic_16x16.gif) no-repeat right center;
   background-position: 98% 50%;
  }


.entity-img {
  float: right;
}

.title {
  margin-top: 3px !important;
  margin-bottom: 7px;
}
.clear { 
  clear:both; 
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #a7a7a7;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

h3 {
  margin-top: 5px !important;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

.main-title {
  font-family: 'Space Mono', monospace;
  font-size: 45px;
}
.main-title a {
  color: inherit !important; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.qid-input input {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="30"><text x="5" y="19" style="font: 16px Arial;">Q</text></svg>') no-repeat;
  box-sizing: border-box;
  font: 16px "Arial";
  height: 30px;
  padding-left: 20px;
  width: 100px;
  margin: auto;
  margin-top: 10px;

}