
.center {
  position: absolute;
  width: 50%;
  height: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
@media (max-width: 1000px) {

  .center {
    position: absolute;
    width: 100%;
    height: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
   }

}
.hidden {
    display: none;
  }
.clickable {cursor: pointer;}


.right {
  float: right;
}


.glyphicon {
  top: 4px !important;
}

.bottom-content {
  margin-top: 5px;
}

.template-text {
  font-size: 16px;
}
#lang-select {
  position: absolute;
  right: 5%;
  top: 3%; 
}

#result{
  overflow: auto;
}

a {
  overflow-wrap: break-word !important;
  color: #5e7e8b !important;
}
.row {
  margin-left: 0px !important;
}
.col-md-4, .col-md-1 {
  padding-left: 0px !important;
}

.italic-placeholder::-webkit-input-placeholder {
  font-style: italic;
}
.italic-placeholder:-moz-placeholder {
  font-style: italic;  
}
.italic-placeholder::-moz-placeholder {
  font-style: italic;  
}
.italic-placeholder:-ms-input-placeholder {  
  font-style: italic; 
}

.error {
  border: solid 1.4px #ff000055 !important;  
}

.popover-content {
  font-size: 9px;
  padding: 3px !important;
}

.wikidata-query-link {
  display:inline;
}
.bolded { 
  font-weight: bold; }

.results-header {
  margin-bottom: 10px;
}

.cont-question-data h4 {
    font-size: 12px !important;
  }

.border {
    border: 1px solid #ccc!important;
    border-style: dashed !important;
    border-radius: 5px;
    margin-top: 10px;
}
.margin {
  margin: 5px;
}
.desc {
  font-size: 12px !important;
}

.entity-img {
  float: right;
}

.title {
  margin-top: 3px !important;
}
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #a7a7a7;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

h3 {
  margin-top: 5px !important;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
