<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Wikibase autocomplete search</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="{{ url_for('static' , filename='css/index.css')}}" rel="stylesheet" type="text/css"/>
    <script src="{{ url_for('static' , filename='js/lang.js') }}"></script>
    <script src="{{ url_for('static' , filename='js/js.cookie.js') }}"></script>
    <script src="{{ url_for('static' , filename='js/resultsParser.js') }}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="{{ url_for('static' , filename='images/favicon.ico') }}" rel="shortcut icon" type="ico"/>
    <script charset="utf-8" type="text/javascript">
        let jsonLang = "{{ url_for('static' , filename='lang.json')}}";
        let questionsJson = "{{ url_for('static' , filename='cached_questions/templates.json')}}";
        let questionsData = [];
        let messagesJson = "{{ url_for('static' , filename='messages.json')}}";
        let messagesData = [];   
    </script>    

</head>
<body>
    
    <form id="set-lang" action="/setcookie" method="POST">
        <select id="lang-select" class="form-select" name="lang">
            <option value="en">English</option>
            <option value="es">Español</option>
        </select>
    </form>
    <div class="center">
        <div class="clickable hidden" id="home"><a onclick='goBack()'><h5 class="lang go-back" id="go-back"></h5></a></div>
        <h3 class="lang title" id="title"></h3>
        <div class="main-input" name="main-input" id="main-input">
            
            <input name="source" id="source" class="form-control input-lg" type="text">
         </div>
            <form class="form-inline hidden" id="template-form">     
                <button id="query" type="button" class="btn btn-dark search-button right lang" onclick="checkform()"></button> 
                    
              </form>
        <div class="bottom-content">
            <div id="loading" class="loading hidden"> 
                <h3 class="lang loading" id="loading"></h3> 
                <div class="dot-typing"></div>
            </div>
            <div id="results" class="animate-bottom hidden">
                <div class="results-header">
                <h3 id="search-results-title" class="lang result"></h3>
                <div id="wikidata-query-link" class="wikidata-query-link"></div>
                </div>
                <div id="answer"></div>
                
            </div>
            
        </div>

    </div>

</body>
<script src="{{ url_for('static' , filename='js/index.js') }}"></script>
<script src="{{ url_for('static' , filename='js/validation.js') }}"></script>
<script src="{{ url_for('static' , filename='js/autocomplete.js') }}"></script>
<script src="{{ url_for('static' , filename='js/templates.js') }}"></script>
<script src="{{ url_for('static' , filename='js/navigation.js') }}"></script>
</html>