<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Templet</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="{{ url_for('static' , filename='js/lang.js') }}"></script>
    <script src="{{ url_for('static' , filename='js/js.cookie.js') }}"></script>
    <script src="{{ url_for('static' , filename='js/resultsParser.js') }}"></script>
    <script src="{{ url_for('static' , filename='js/variables.js') }}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="{{ url_for('static' , filename='css/bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static' , filename='css/index.css')}}" rel="stylesheet" type="text/css"/>
    <script src="https://kit.fontawesome.com/fd7e4b205d.js" crossorigin="anonymous"></script>
    <link href="{{ url_for('static' , filename='images/favicon.ico') }}" rel="shortcut icon" type="ico"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
    <script charset="utf-8" type="text/javascript">
        let langJson = "{{ url_for('static' , filename='lang.json')}}";
        let questionsJson = "{{ url_for('static' , filename='cached_questions/templates.json')}}";
        let questionsData = [];
        let messagesJson = "{{ url_for('static' , filename='messages.json')}}";
        let messagesData = [];   
        let inputTokensJson = "{{ url_for('static' , filename='inputTokens.json')}}";
        let inputTokens = []
    </script>    
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                  <div class="alert alert-{{ category }} alert-dismissible center-block" role="alert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ message }}
                    
                  </div>
              {% endfor %}
            {% endif %}
        {% endwith %}
      </div>
    
    <div class="header">
      <div id="update-template" style="display: inline-block; margin-left: 10px;"><a onclick='showUpdateTemplateModal()'><h5 class="lang update-template" id="update-template"></h5></a></div>
      <div id="about-link" style="display: inline-block; margin-left: 10px;"><a onclick='showAbout()'><h5 class="lang about-link" id="about-link"></h5></a></div>
      <div style="display: inline-block; margin-left: 10px;">
      <form id="set-lang" action="/setcookie" method="POST">
            <select id="lang-select" class="form-select" name="lang">
                <option value="en">English</option>
                <option value="es">Español</option>
            </select>
        </form>
    </div>  
    </div>
    <div class="center">
        <div class="clickable hidden" id="home"><a onclick='goBack()'><h5 class="lang go-back" id="go-back"></h5></a></div>
        <div style="margin-bottom: 106px;">
            <div style="float: left;">
            <div class="main-title"><a href="/"><span class="auto-type"></span></a></div>
              <span><h4 class="lang title" id="title"></h4></span>
              
            </div>
            <div class="question-links">
                <div id="query-link" style="text-align: right;" class="hidden">
                    <a id="wikidata-query-link" class="wikidata-query-link lang" href="" target="_blank"><i style="margin-left: 2px;" class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
                <div style="text-align: right;"><a id="qawiki-link" class="hidden lang" href="" target="_blank"><i style="margin-left: 2px;" class="fa-solid fa-arrow-up-right-from-square"></i></a></div>
                <div style="text-align: right;"><a id="update-link" class="hidden lang" href=""><i style="margin-left: 2px;" class="fa-solid fa-rotate-right"></i></a></div>
            </div>
        </div>
        <div class="hidden animate-bottom" id="about-container">
            <div class="about-text lang" id="about-text" style="text-align: justify;text-justify: inter-word;"></div>
            <div style="text-align: center; margin-top: 25px;padding-bottom: 25px;"">
                <a href="https://www.dcc.uchile.cl/" target="_blank"><img src="{{ url_for('static' , filename='images/dcc-logo.png') }}" height="40px" alt='dcc-logo'></a>
                <a href="https://www.wikidata.org/" target="_blank"><img src="{{ url_for('static' , filename='images/wikidata-logo.png') }}" height="43px" alt='wikidata-logo'></a>
            </div>
        </div>
        <div class="clear main-input" name="main-input" id="main-input">
            
            <input name="source" id="source" class="form-control input-lg" type="text">
         </div>
            <form class="form-inline hidden" id="template-form">     
                <button id="query" type="button" class="btn btn-dark search-button right lang" onclick="checkform()"></button> 
                    
              </form>
        <div class="bottom-content">
            <div id="loading" class="loading hidden"> 
                <div style="display: inline-block;"><h3 class="lang loading" id="loading"></h3></div>
                <div style="display: inline-block; margin-bottom: -3px;"><div class="loader"></div></div>
            </div>
            <div id="results" class="animate-bottom hidden">
                <div class="results-header">
                <h3 id="search-results-title" class="lang" style="margin-bottom: 1px;"></h3>
                <!-- <div id="wikidata-query-link" class="wikidata-query-link"></div> -->
                </div>
                <div id="cont-question" class="border hidden">
                    <h4 id="cont-question-title" class="lang margin bolded cont-question"></h4>
                    <div id="cont-question-data" class="margin cont-question-data"></div>
                </div>
                <div id="answer"></div>
                
            </div>
            
        </div>

    </div>
    <script>
        var options = {
            strings: ["Templet"],
            typeSpeed: 355,
            onStringTyped: function() {
                return setTimeout(
                    function() 
                    {
                        $('.auto-type').siblings('.typed-cursor').remove();
                    }, 3700);
            }
        };

        var typed = new Typed('.auto-type', options);
    </script>
<!-- Modal -->
<div class="modal fade" id="my-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div id="modal-update-desc" class="lang"></div>
            <div class="qid-input">
                <input id="id-input" class="form-control input-sm" type="text" value="" autofocus="autofocus"/>
            </div>
        </div>
        <div class="modal-footer">
          <button id="cancel-update" type="button" class="btn btn-secondary lang" data-dismiss="modal"></button>
          <button id="update-template-modal-btn" type="button" onclick="checkUpdateTempInput()" class="btn btn-dark lang"></button>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="{{ url_for('static' , filename='js/index.js') }}"></script>
<script src="{{ url_for('static' , filename='js/validation.js') }}"></script>
<script src="{{ url_for('static' , filename='js/autocomplete.js') }}"></script>
<script src="{{ url_for('static' , filename='js/templates.js') }}"></script>
<script src="{{ url_for('static' , filename='js/navigation.js') }}"></script>
</html>